# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Run Thesaurus'
      'command': 'thesaurus:run'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Thesaurus'
      'submenu': [
        {
          'label': 'Run'
          'command': 'thesaurus:run'
        },
        {
          'label': 'Open'
          'command': 'thesaurus:open'
        }
      ]
    ]
  }
]
